#header-container
  a(href='#', id='toggleButton')
    - var headerFontColor = config.headerFontColor || '#fff';
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')
    span.bar-icon(style='background-color: #{headerFontColor}')

    h1#logo
      a(href=config.homeLink || '/')
        - var mobileLogo = !!config.logoMobile
        - var classes = mobileLogo ? 'hidden-xs' : ''
        img(src=config.logo, class=classes).logo-image
        - if (mobileLogo)
          img(src=config.logoMobile).logo-image.visible-xs-inline-block
        //- span.logo-link=t('common.app-name')
  
  .right-side
    .user-nav
      - var color = config.headerFontColor;
      - var style = color ? 'color: ' + color : '';
      - var target = config.homeLink ? {} : { 'target': '_blank'};
      .share-links
        a(target="_blank", href="#").flaticon.social.facebook
        a(target="_blank", href="#").flaticon.social.twitter
        a(target="_blank", href="#").glyphicon.glyphicon-envelope
      a.login(href="/help/about-us", style=style)&attributes(target)
        span= config.organizationName
      a(href='/signup', style=style).login.anonymous-user
        i.icon-user
        span= t('header.signup')
      a(href='/signin', style=style).login.anonymous-user
        i.icon-signin
        span= t('header.signin')
      .user