#demos-homepage
  section.section-hero-intro(style="background-image: url('#{config.demosCoverUrl}');")
    h2.text-center= t('demos-homepage.cover.title')
    p.text-center!= t('demos-homepage.cover.description')

  .block-espacio-projecto
    for topic, i in topics
      a(href='/topic/#{topic.id}')
        .block-card-projecto(style="background-color: #{topic.styles ? topic.styles.bgColor : ''};")
          .block-card-info
            h3=topic.mediaTitle
            - var children = topic.children || []
            - var text = ''
            if children.length > 1
              - text = t('demos-homepage.topic.children.plural', { children: children.length })
            else if children.length == 1
              - text = t('demos-homepage.topic.children.singular')
            else
              - text = t('demos-homepage.topic.children.empty')
            p=text
          .hexagon: i(class='icon-espaciojoven-#{topic.tag.hash}')

  .container
    footer.footer-container
      .footer
        a(href="http://democraciaenred.org", target="_blank")
          img(src="https://cldup.com/vtCrQZ6Bzx.svg", title="Logo DemocracyOS")
      if config.termsOfService
        .footer.tos
          small: a(href='/help/terms-of-service')= t('header.tos')
      .footer
        p.text-center
          small ¿Dudas, sugerencias? escribinos a <a href="mailto:#{config.organizationEmail}">#{config.organizationEmail}</a>