#demos-homepage
  section.section-hero-intro(style=`
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, .2)), color-stop(100%, rgba(0, 0, 0, .9))), url(${config.demosCoverUrl}) center center no-repeat;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(${config.demosCoverUrl}) center center no-repeat;
    background: -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(${config.demosCoverUrl}) center center no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(${config.demosCoverUrl}) center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url(${config.demosCoverUrl}) center center no-repeat;
    background-size: cover;`
    )
    h2.text-center=config.organizationName
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis, lectus et posuere fermentum, lacus dolor eleifend est, id fermentum nulla tellus eget nulla. Donec ac eros sapien. Praesent scelerisque nunc id sem feugiat rhoncus.

  .container
    .block-espacio-projecto
      .row
        for topic, i in topics
          .col-sm-6.col-md-4(class=i == 3 ? 'col-md-offset-2' : '')
            a(href='/topic/#{topic.id}')
              .block-card-projecto(style="background-color: #{topic.styles ? topic.styles.bgColor : ''};")
                .block-card-info
                  h3=topic.mediaTitle
                  - var children = topic.children || []
                  - var text = ''
                  if children.length > 1
                    - text = t('demos-homepage.topic.children.plural', { children: children.length })
                  else if children.length == 1
                    - text = t('demos-homepage.topic.children.singular')
                  else
                    - text = t('demos-homepage.topic.children.empty')
                  p=text
                .hexagon: i(class='icon-espaciojoven-#{topic.tag.hash}')
    footer.footer-container
      .footer
        a(href="http://democraciaenred.org", target="_blank")
          img(src="https://cldup.com/vtCrQZ6Bzx.svg", title="Logo DemocracyOS")
      if config.termsOfService
        .footer.tos
          small: a(href='/help/terms-of-service')= t('header.tos')
      .footer
        p.text-center
          small ¿Dudas, sugerencias? escribinos a <a href="mailto:#{config.organizationEmail}">#{config.organizationEmail}</a>