#demos-homepage
  div(id="slider-wrapper")
    div.inner-wrapper
      each slide, i in slides
        - var pos = i * 100
        style(text="text/css").
          #Slide#{i}:checked ~ .overflow-wrapper{
            margin-left: -#{pos}%;
          }
      each slide, i in slides
        -var checked = (i === 0)?true:false
        input.control(type="radio", name="slide", id="Slide#{i}", checked=checked)
        label(for="Slide#{i}", id="s#{i}")
          .circle
      -var fullWidth = slides.length * 100
      -var slideWidth = 100 / slides.length
      .overflow-wrapper(style="width:#{fullWidth}%;")
        each slide in slides
          a.slide(href=((slide.link)?slide.link:'#'), target='_blank', style='background-image:url(' + slide.image + '); width:#{slideWidth}%;')
            .content
              h2=slide.title
              p=slide.description 

  .block-espacio-projecto
    for topic, i in topics
      a(href='/topic/#{topic.id}')
        .block-card-projecto(style="background-color: #{topic.styles ? topic.styles.bgColor : ''};")
          .block-card-info
            h3=topic.mediaTitle
            - var children = topic.children || []
            - var text = ''
            if children.length > 1
              - text = t('demos-homepage.topic.children.plural', { children: children.length })
            else if children.length == 1
              - text = t('demos-homepage.topic.children.singular')
            else
              - text = t('demos-homepage.topic.children.empty')
            p=text
          .hexagon: i(class='icon-espaciojoven-#{topic.tag.hash}')

  .support
    p Esta iniciativa cuenta con el apoyo de
    .logos
      img(src="/boot/suport_canada.jpg").canada
      a(href="http://ciudadaniaydesarrollo.org", target='_blank')
        img(src="/boot/suport_fcd.jpg").fcd

  .container
    footer.footer-container
      .footer
        a(href="http://democraciaenred.org", target="_blank")
          img(src="https://cldup.com/vtCrQZ6Bzx.svg", title="Logo DemocracyOS")
      if config.termsOfService
        .footer.tos
          small: a(href='/help/terms-of-service')= t('header.tos')
      .footer
        p.text-center
          small ¿Dudas, sugerencias? escribinos a <a href="mailto:#{config.organizationEmail}">#{config.organizationEmail}</a>